@charset "UTF-8";

#list
{
	border: 1px solid red;
}

#login
{
	height: 132px;
	width: 293px;
	border: 1px solid red;
}

#head
{
	height: 100px;
	width: 1150px;
	border: 1px solid red;
}

#container
{
	border: 1px solid red;
}