<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board">
	
	<sql id="a">
		SELECT SEQ, TITLE, CONTENT, EMAIL, REGDATE, KINDSEQ, 
		READCOUNT, ENABLED, REFER, DEPTH
	</sql>
	
<!-- 	글목록보기 + 검색 -->
	<select id="boardlist" parameterType="Map" resultType="BoardDto">
		<include refid="a"></include>
		FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY REFER DESC, STEP) AS RN,
			SEQ, TITLE, CONTENT, EMAIL, REGDATE, KINDSEQ, 
			READCOUNT, ENABLED, REFER, DEPTH FROM D_BOARD
			WHERE KINDSEQ=#{kindseq}
			<if test="title != null">
				AND TITLE LIKE '%'||#{title}||'%' AND ENABLED='Y'
			</if>
			<if test="email != null">
				AND EMAIL=#{email} AND ENABLED='Y'
			</if>
		)
		WHERE CEIL(RN/5)=#{pNum}
	</select>
	
	<select id="getBoard" parameterType="Map" resultType="BoardDto">
		<include refid="a"></include>
		FROM D_BOARD
		WHERE KINDSEQ=#{kindseq} AND SEQ=#{seq}
		ORDER BY REFER DESC, STEP
	</select>
	
<!-- 	글등록 -->
	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO D_BOARD
		VALUES(D_BOARD_SEQ.NEXTVAL, #{title}, #{content}, #{email}, SYSDATE,
		#{kindseq}, 0, 'Y', (SELECT NVL(MAX(REFER)+1,0) FROM D_BOARD), 0, 0)
	</insert>
	
<!-- 	이메일을 닉네임으로 변경 -->
	<select id="emailNick" parameterType="String" resultType="String">
		SELECT NICK FROM D_USER WHERE EMAIL=#{email}
	</select>
	
<!-- 	갤러리 이름 호출 -->
	<select id="setKindchange" parameterType="String" resultType="String">
		SELECT KIND FROM D_LIST WHERE kindseq=#{kindseq}
	</select>
	
<!-- 	닉네임을 이메일로 변경 -->
	<select id="nickEmail" parameterType="String" resultType="String">
		SELECT EMAIL FROM D_USER WHERE NICK=#{nick}
	</select>
	
<!-- 	조회수 -->
	<update id="readCount" parameterType="String">
		UPDATE D_BOARD SET READCOUNT=READCOUNT+1 WHERE SEQ=#{seq}
	</update>
	
<!-- 	삭제 -->
	<update id="mulDel" parameterType="Map">
		UPDATE D_BOARD SET ENABLED='N' WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</update>
	
<!-- 	글수정 -->
	<update id="updateBoard" parameterType="BoardDto">
		UPDATE D_BOARD SET TITLE=#{title}, CONTENT=#{content}, REGDATE=SYSDATE
		WHERE SEQ=#{seq}
	</update>
	
	<update id="replyUpdate" parameterType="BoardDto">
		<![CDATA[
			UPDATE D_BOARD SET STEP=STEP+1
			WHERE REFER=(SELECT REFER FROM D_BOARD WHERE SEQ=#{seq})
			AND STEP > (SELECT STEP FROM D_BOARD WHERE SEQ=#{seq})
		]]>
	</update>
	
	<insert id="replyInsert" parameterType="BoardDto">
		INSERT INTO D_BOARD
		VALUES(D_BOARD_SEQ.NEXTVAL, #{title}, #{content}, #{email}, SYSDATE,
		#{kindseq}, 0, 'Y',
		(SELECT REFER FROM D_BOARD WHERE SEQ=#{seq}),
		((SELECT STEP FROM D_BOARD WHERE SEQ=#{seq})+1),
		((SELECT DEPTH FROM D_BOARD WHERE SEQ=#{seq})+1))
	</insert>
	
	<select id="pageMax" parameterType="String" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM D_BOARD WHERE KINDSEQ=#{kindseq}
	</select>
	
	<select id="pageMaxSearchTitle" parameterType="Map" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM D_BOARD WHERE KINDSEQ=#{kindseq} AND TITLE LIKE '%'||#{title}||'%' AND ENABLED='Y'
	</select>
	
	<select id="pageMaxSearchEmail" parameterType="Map" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM D_BOARD WHERE KINDSEQ=#{kindseq} AND EMAIL=#{email} AND ENABLED='Y'
	</select>
	
	<select id="bestlist" resultType="BoardDto">
		<![CDATA[
		SELECT B.SEQ, B.TITLE, B.EMAIL, B.KINDSEQ, L.RK 
		FROM D_BOARD B, D_LIST J,
			(SELECT COUNT(SEQ) AS RK, SEQ,
				ROW_NUMBER() OVER (ORDER BY COUNT(SEQ) DESC) AS RN
				FROM D_LIKE GROUP BY SEQ ORDER BY RN) L
		WHERE B.SEQ = L.SEQ
		AND B.KINDSEQ = J.KINDSEQ
		AND B.ENABLED = 'Y'
		AND J.ENABLED = 'Y'
		AND ROWNUM <= 5
		ORDER BY L.RN
		]]>
	</select>
	
</mapper>
