<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.list">
	
	<select id="list" resultType="ListDto">
		SELECT KINDSEQ, ENABLED, KIND FROM D_LIST
	</select>
	
	<insert id="addlist" parameterType="ListDto">
		INSERT INTO D_LIST VALUES (D_LIST_SEQ.NEXTVAL, #{enabled}, #{kind}, #{kindcontent})
	</insert>
	
	<select id="sublist" resultType="ListDto">
		SELECT KINDSEQ, ENABLED, KIND, KINDCONTENT FROM D_LIST
		WHERE ENABLED = 'N'
	</select>
	
	<select id="setUplist" resultType="ListDto">
		SELECT KINDSEQ, ENABLED, KIND, KINDCONTENT 
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY KINDSEQ) AS RN,
				KINDSEQ, ENABLED, KIND, KINDCONTENT FROM D_LIST
				WHERE ENABLED != 'N')
		WHERE CEIL(RN/5)=#{listpNum}
	</select>
	
	<update id="openlist" parameterType="Map">
		UPDATE D_LIST SET ENABLED='Y' WHERE KINDSEQ IN
		<foreach collection="kindseqs" item="kindseq" open="(" close=")" separator=",">
			#{kindseq}
		</foreach>
	</update>
	
	<select id="listPageMax" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM D_LIST
	</select>
	
	<update id="changelist" parameterType="Map">
		UPDATE D_LIST SET ENABLED=#{enabled} WHERE KINDSEQ=#{kindseq}
	</update>
</mapper>
