<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.board">
	
	<select id="boardlist" parameterType="String" resultType="BoardDto">
		SELECT RN, RSEQ, RID, RTITLE, RCONTENT, RREGDATE
		FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY RSEQ DESC) AS RN,
			RSEQ, RID, RTITLE, RCONTENT, RREGDATE FROM R_BOARD
			)
		WHERE CEIL(RN/5)=#{listpage}
	</select>
	
	<select id="searchList" parameterType="Map" resultType="BoardDto">
		SELECT RN, RSEQ, RID, RTITLE, RCONTENT, RREGDATE
		FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY RSEQ DESC) AS RN,
			RSEQ, RID, RTITLE, RCONTENT, RREGDATE FROM R_BOARD
			WHERE RID=#{rid}
			)
		WHERE CEIL(RN/5)=#{listpage}
	</select>
	
	<insert id="insertboard" parameterType="BoardDto">
		INSERT INTO R_BOARD (RSEQ,RID,RTITLE,RCONTENT,RREGDATE)
		VALUES(R_BOARD_SEQ.NEXTVAL,#{rid},#{rtitle},#{rcontent},SYSDATE)
	</insert>
	
	<select id="getboard" parameterType="int" resultType="BoardDto">
		SELECT RSEQ, RID, RTITLE, RCONTENT, RREGDATE
		FROM R_BOARD WHERE RSEQ=#{rseq}
	</select>
	
	<update id="updateBoard" parameterType="BoardDto">
		UPDATE R_BOARD SET RTITLE=#{rtitle}, RCONTENT=#{rcontent}, RREGDATE=SYSDATE
		WHERE RSEQ=#{rseq}
	</update>
	
	<delete id="delBoard" parameterType="int">
		DELETE FROM R_BOARD WHERE RSEQ=#{rseq}
	</delete>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM R_BOARD WHERE RSEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</delete>
	
	<select id="count" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM R_BOARD
	</select>
	
	<select id="countSearch" parameterType="String" resultType="int">
		SELECT CEIL(COUNT(*)/5) FROM R_BOARD WHERE RID=#{rid}
	</select>
	
</mapper>
